.bocadillo-cuadrado {
   position: relative;
    height: 200px;
    width: 300px;
    background: white;
    box-shadow: 1px 20px 50px rgba(72, 25, 25, 0.882);
}
.bocadillo-cuadrado:before {
    border: 25px solid white;
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -48px;
    left: calc(50% - 25px)
}
.nombreUser{
    color:  rgb(80, 5, 5);
}